<head>
  <link rel="stylesheet" href="createprofile.component.css" type="text/css">
</head>

<body>
  <div class="container">
    <h3>
      Create Profile
    </h3>
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">

        <input class="form-control" [(ngModel)]="profile.associateName" formControlName="associateName" type="text"
          id="associateName" name="associateName" height="50px" pattern="[A-Za-z]{5,30}" placeholder="associate Name">
      </div>
      <div
        *ngIf="angForm.controls['associateName'].invalid && (angForm.controls['associateName'].dirty || angForm.controls['associateName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['associateName'].errors.required">
          Associate Name is required
        </div>
        <div *ngIf="angForm.controls['associateName'].errors.pattern">
          Associate Name must be minimum 5 characters and Maximum 30 characters
        </div>
      </div><br>

      <div class="form-group">
        <input class="form-control" [(ngModel)]="profile.associateId" formControlName="associateId" type="associateId"
          id="associateId" name="associateId" placeholder="Associate Id">
      </div>
      <div
        *ngIf="angForm.controls['associateId'].invalid && (angForm.controls['associateId'].dirty || angForm.controls['associateId'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['associateId'].errors.required">
          AssociateId is required.
        </div>

      </div><br>

      <div class="form-group">
        <input class="form-control" [(ngModel)]="profile.mobile" formControlName="mobile" type="mobile" id="mobile"
          name="mobile" [pattern]="mobilePattern" placeholder="Mobile">
      </div>
      <div
        *ngIf="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['mobile'].errors.required">
          Mobile Number is required.
        </div>
        <div *ngIf="angForm.controls['mobile'].errors.pattern">
          Please enter the valid mobile number
        </div>
      </div><br>

      <div class="form-group">

        <input class="form-control" [(ngModel)]="profile.email" formControlName="email" type="email" id="email"
          name="email" [pattern]="emailPattern" placeholder="Email">
      </div>
      <div
        *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
        <div *ngIf="angForm.controls['email'].errors.pattern">
          Invalid Email
        </div>
      </div><br>


      <button class="btn" id="button" type="button" [disabled]="angForm.pristine || angForm.invalid" (click)="create()">
        Create Profile
      </button>

    </form>


  </div>



</body>