label {
    width: 100px;
    display: inline-block;
    margin: 0.2cm;
    font: size 8px;
    font-weight: bold
}

input {
    width: 250px;
    height: auto;
}


body {

    background-color: lightpink;
}


.btn{
    margin-left:55px;
}
body .container {
    width: 250px;
    height: 100vh;
    background: lightpink;
  }
