label {
  width: 100px;
  display: inline-block;
  margin: 0.2cm;
  font: size 8px;
  font-weight: bold
}

input {
  width: 250px;
  height: auto;
}

.container {
  width: 250px;
  height: auto;
}


body {

  background-color: lightpink;
}

/* .space {
  width: 10px;
  height: auto;
  display: inline-block;
} */

.btn{
  margin-left:75px;
}
/* .alert alert-danger{
  width: 50px;
  height: 50px;
} */